body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}
.buy-now-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-now-btn:hover {
    background-color: #0056b3;
}


/* CSS for mobile */
@media (max-width: 768px) {
    .product {
        width: calc(33.33% - 40px);
        margin: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }
}
.scroll {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.scroll svg {
    height: 150px;
}




/* CSS for small screens (e.g., phones) */
@media (max-width: 576px) {
    .product {
        width: calc(50% - 40px);
        margin: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }
}
